.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}
.product__info {
  padding-left: 20px;
  padding-top: 10px;
}
.product__title {
  font-size: 17px;
  font-weight: 600;
}
.product__info button {
  background: #febd69;
  cursor: pointer;
  outline: none;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.product__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
  margin-bottom: 10px;
}
