.home {
  margin: 0 auto;
  max-width: 1500px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}
.home__slider__container {
  height: 40vh;
}
.home__slider {
  margin-bottom: -300px;
}
.slick-slide img {
  width: 100%;
  z-index: -1;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.slides .slick-prev {
  visibility: hidden;
}
.slides .slick-next {
  visibility: hidden;
}
.home__row {
  margin: 0 auto;
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}
